body{
    background-color: rgb(73, 71, 71);
    color: white;
}
#enroll {
    display: block;
    position: absolute;
    left: 37%;
    top: 32%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
}

#enroll1 {
    display: block;
    position: absolute;
    left: 37%;
    top: 65%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
}

.input{
    display: block;
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}
.answer {
    display: block;
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}
.button {
    display: block;
    position: absolute;
    left: 40%;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: rgba(55, 92, 255, 0.719);
    color: white;
    font-size: 15px;
}

.button:hover{
    background: skyblue;
}

.menu:link {
    color: white;
}
.menu:visited{
    color: white;
}
.menu:hover{
    color: blue;
}

#box{
    margin: 140px auto;
    border: 1px solid white;
    width: 400px;
    height: 100px;
    padding-left:10px;
    padding-top: 10px;
    background-color: rgb(37, 36, 36);
}

#box1{
    margin: 100px auto;
    border: 1px solid white;
    width: 400px;
    height: 180px;
    padding-left:10px;
    padding-top: 20px;
    background-color: rgb(37, 36, 36);
}
#text1{
    width: 280px;
}
#text2{
    width: 300px;
    height: 100px;
}

