body{
    background-color: rgb(73, 73, 73);
    color: white;
}
#enter {
      position: absolute;
      top: 30%;
      left: 32%;
      color: #fff; 
      background:rgb(12, 12, 12); 
      font-size:4em; 
      border-radius:0.5em; 
      padding:10px 30px;
}
#exit {
      position: absolute;
      top: 30%;
      right: 33%;
      color: #fff; 
      background:rgb(5, 5, 5); 
      font-size: 4em; 
      border-radius:0.5em; 
      padding:10px 30px;
}
#admin{
    position: absolute;
    top: 60%;
    left: 30%;
    color: #fff; 
    background:rgb(10, 10, 10); 
    font-size:4em; 
    border-radius:0.5em; 
    padding:7px 25px;
}
#parking {
    position: absolute;
    top: 60%;
    right: 30%; 
    color: #fff; 
    background:rgb(15, 15, 14); 
    font-size:4em; 
    border-radius:0.5em; 
    padding:7px 25px;
}