body{
    background-color: #E0D3B6;
    color: white;
}
#entrance {
    position: absolute;
    left: 45%;
    top: 25%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50px;
    margin: 10px;
    text-shadow: 1px 1px 3px gray;
}
.input{
    display: inline-block;
    position: absolute;
    left: 37%;
    top: 40%;
    margin-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    text-shadow: 1px 1px 3px gray;
}
#text{
    display: inline-block;
    margin: 15px;
    font-size: large;
}
#button {
    display: inline-block;
    position: absolute;
    left: 49%;
    top: 30%;
    margin-top: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: rgb(146, 124, 114);
    color: white;
    font-size: 15px;
}
#button:hover{
    cursor: pointer;
}
.menu{
    text-decoration: none;
    font-weight: 550;
}
.menu:link {
    color: rgb(146, 124, 114);
}
.menu:visited{
    color: rgb(146, 124, 114);
}
.menu:hover{
    color: white;
}