body{
    background-color: #E0D3B6;
    color: white;
}
#enter {
      position: absolute;
      top: 30%;
      left: 32%;
      color: #fff; 
      background-color: rgb(146, 124, 114);
      font-size:4em; 
      border-radius:0.5em; 
      padding:10px 30px;
}
#exit {
      position: absolute;
      top: 30%;
      right: 33%;
      color: #fff; 
      background-color: rgb(146, 124, 114);
      font-size: 4em; 
      border-radius:0.5em; 
      padding:10px 30px;
}
#admin{
    position: absolute;
    top: 60%;
    left: 30%;
    color: #fff; 
    background-color: rgb(146, 124, 114);
    font-size:4em; 
    border-radius:0.5em; 
    padding:7px 25px;
}
#parking {
    position: absolute;
    top: 60%;
    right: 30%; 
    color: #fff; 
    background-color: rgb(146, 124, 114);
    font-size:4em; 
    border-radius:0.5em; 
    padding:7px 25px;
}
.menu{
    text-decoration: none;
    font-weight: 550;
}
.menu:link {
    color: rgb(146, 124, 114);
}
.menu:visited{
    color: rgb(146, 124, 114);
}
.menu:hover{
    color: white;
}
#title{
    text-shadow: 1px 1px 3px gray;
}