body{
    background-color: #E0D3B6;
    color: white;
    font-size: 20px;
}
#box {
    position: absolute;
    left: 33%;
    top: 32%;
    width: 450px;
    height: 400px;
    border-color: rgb(146, 124, 114);
}
#car{
    position: absolute;
    left: 30%;
    top: 22%;
}
#button {
    display: inline-block;
    border: none;
    background-color: rgb(146, 124, 114);
    border-radius: 20px;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    height: 35px;
}
#button:hover{
    cursor: pointer;
}
.pay:hover{
    cursor: pointer;
}
.pay:active{
    background-color: whitesmoke;
    color: black;
}
.pay:focus{
    color: black;
    background-color: whitesmoke;
}
.pay {
    border: none;
    background-color: rgb(146, 124, 114);
    border-radius: 20px;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 80px;
    height: 35px;
}
.menu{
    text-decoration: none;
    font-weight: 550;
    font-size: 17px;
}
.menu:link {
    color: rgb(146, 124, 114);
}
.menu:visited{
    color: rgb(146, 124, 114);
}
.menu:hover{
    color: white;
}
.info {
    background-color: white;
    display: inline-block;
    font-size: 20px;
    color: black;
    padding: 3px;
    padding-left: 5px;
}
label{
    display: inline-block;
}
.parking_info{
    margin-bottom: 45px;
}
#pay {
    border: none;
    position: absolute;
    background-color: rgb(146, 124, 114);
    border-radius: 20px;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 80px;
    height: 35px;
    left: 40%;
}
#pay:hover{
    cursor: pointer;
}
h1{
    position: absolute;
    left: 42%;
    top: 7%;
    text-shadow: 1px 1px 3px gray;
    font-size: 50px;
}