body{
    background-color: rgb(73, 73, 73);
    color: white;
}
#box {
    position: absolute;
    left: 35%;
    top: 40%;
    width: 450px;
    height: 350px;
}
#car{
    position: absolute;
    left: 30%;
    top: 25%;
}
#button {
    display: inline-block;
    border: none;
    background-color: rgba(55, 92, 255, 0.719);
    border-radius: 20px;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    height: 35px;
}
#button:hover{
    cursor: pointer;
}
.pay:hover{
    cursor: pointer;
}
.pay {
    border: none;
    background-color: rgba(55, 92, 255, 0.719);
    border-radius: 20px;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 80px;
    height: 35px;
}
.menu:link {
    color: white;
}
.menu:visited{
    color: white;
}
.menu:hover{
    color: red;
}
.info {
    background-color: white;
    display: inline-block;
    font-size: 20px;
    color: black;
}
label{
    display: inline-block;
}
.parking_info{
    margin-bottom: 45px;
}
#pay {
    border: none;
    background-color: rgba(55, 92, 255, 0.719);
    border-radius: 20px;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 80px;
    height: 35px;
}